.padding-right{
    margin-left: 15% !important;
}
h1{
    margin-left: 43% !important;
}
.btn.btn-primary{
    margin-top: 0 !important;
    background-color: black !important;
    border-radius: 5px !important;
}
a{
    color: whitesmoke !important;
    background-color: black !important;

}