body{
    background-color: black !important;
}

h1{
    color:white!important;
    text-align:center;
    margin-bottom: 25px;
    border-bottom: 2px solid #71857b;
}

.mision_vision-content{
    text-align: center;
}

.mision_vision-content{
    text-align: center !important;
    width: 100%;

}

.mision_vision-content label{
    color:white;
    width: 10rem;
    padding: 20px;
    font-size: 2rem;
    text-align: center;

}

p {
    margin: 0 auto !important;
    color: white;
    text-align: center;
    width: 80%;
    font-size: 18px;
}
#imgVision{
    width: 30%;
    text-align: center !important

}
#divImg{
    margin-left: 43% !important;
    margin-top: 3% !important;

}