.navbar-nav {
    width: 63%;
    color: white !important;
    font-size: 110%;
}

.navbar-brand {
    width: 10%;
}

.navbar {
    background-color: black !important;
    margin-bottom: 0% !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: gray;
}

.navbar-light .navbar-nav .nav-link::selection {
    color: gray;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-brand:hover {
    color: gray;
}

.navbar-light .navbar-brand::selection {
    color: gray;
}

.navbar-brand {
    padding-left: 1%;
}

.btn-outline-success {
    color: white;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

#campoBuscar {
    width: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 6%;
}

.fuente {
    font-family: 'Unna', serif;
    color: white;
}
input,
textarea {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

#logo {
    width: 10%;
    border-radius: 5%;
}