body {
    background-color: black !important;
}

h1 {
    text-align: center;
    border-bottom: 2px solid white;
    margin-top: 0% !important;
}

h2 {
    font-size: 30px !important;
    margin-bottom: 0% !important;
    margin-top: 0% !important;
}

h3 {
    font-size: 20px !important;
    margin-left: 13%;
    margin-top: 0% !important;
}

#datos {
    width: 80%;
    margin-left: 10%;
    border: 2px solid white;
    border-radius: 5%;
}