.form {
    background: rgb(233, 233, 233);
    margin-top: 1%;
    border-radius: 10px;
    width: 470px;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Unna', serif;
}

body {
    background-color: black !important;
}

.form fieldset {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Unna', serif;
}

.form p.contact {
    font-size: 12px;
    margin: 0px 0px 10px 0;
    line-height: 14px;
    font-family: Arial, Helvetica;
}

.form input[type="text"] {
    width: 400px;
    font-family: 'Unna', serif;
}

.form label {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Unna', serif;
}

.form label.month {
    width: 135px;
}

.form input,
textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(122, 192, 0, 0.15);
    padding: 7px;
    font-family: Keffeesatz, Arial;
    color: #4b4b4b;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.form input:focus,
textarea:focus {
    border: 1px solid #ff5400;
    background-color: rgba(255, 255, 255, 1);
}

.form .select-style {
    -webkit-appearance: button;
    background-image: url(images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 0px solid #FFF;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form .gender {
    width: 410px;
}

.form input.buttom {
    margin-left: 28%;
    background: black;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fbf7f7;
    text-decoration: none;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Unna', serif;
}

.form input.buttom:hover {
    background-color: gray;
}

h1 {
    font-size: 25px !important;
    padding-left: 6%;
    font-weight: bold !important;
    margin-bottom: 5% !important;
    margin-top: 10px !important;
}