body {
    background-color: black;
}

h1 {
    text-align: center;
    color: black !important;
}

.linea {
    margin: 0 auto;
    border-top: 2px solid black;
    margin-top: 2px;
    width: 90%;
    background-color: black !important;
    height: 0.5px;
}

.flexContainer {
    margin: 2px 10px;
    /*  display: flex;*/
    margin-top: 3%;
    margin-left: 3%;
    width: 100%;
}

#conten {
    width: 80%;
    font-size: 18px;
    border-radius: 3%;
    margin-left: 13%;
}

#conten p {
    color: black !important;
}

#parte2 {
    margin-top: 30%;
}
.contLogOut{
    background-color: black !important;
    color: white;
    margin-top: 0 !important;
}