body{
    background-color: black !important;
}

h1{
    text-align: center;
    margin-bottom: 25px;

    color:white !important;
}
.visitenos-wrapper{
    border-bottom: 1px solid yellow;
    display:grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 30px;
    margin-top: 25px;
    text-align: center;
}

.informacion-content{
    color: white;
}

.fab fa-whatsapp{
    color: green;
}

.map-container{
    text-align: center;
    margin-top: 30px;
    margin-left: 40%;
    margin-bottom: 30px;
}